# ignore everything
*

# except tex folders
!*/

# except tex & python
!*.tex
!*.py

# and except everything in resource/resources folders
!*/resource/*
!*/resources/*

# maybe for the future
# !*/include/*
# !*/source/*